<h1>Add Customer Transaction</h1>
<script type="text/javascript">
var dc= function(DC){
	var Amount; 
	if(DC === "D"){
		Amount+=Amount
	}else if(DC === "C"){
		Amount-=Amount
	}else{
		return
	}
}
</script>

{{#data}}
<form action="/CustTran/add_CustTran/{{id}}" method="POST">
	<h2>Customer</h2>
	Account: <input type="text" name="Account" value="{{Account}}" readonly>
	Name: <input type="text" name="Name" value="{{Name}}" readonly>
	Balance: <input type="text" name="Balance" value="{{Balance}}" readonly><br>
	<h2>Add Transaction</h2>
	Date:    <input type="Date" name="Date" value="{{Date}}">
	Reference: <input type="text" name="Reference" value="{{Reference}}">
	Amount:  <input type="float" name="Amount" value="{{Amount}}">
	<fieldset class="radiogroup"> 
		<legend>Select Debit or Credit</legend> 
  		<ul class="radio" >
    	<li><input type="radio" name="DC" onClick="JavaScript:dc("D")" value="{{DC}}D" /><label for="D">Debit</label></li> 
    	<li><input type="radio" name="DC" onClick="JavaScript:dc("C")" value="{{DC}}C" /><label for="C">Credit</label></li> 
  		</ul>  
	</fieldset>
	<input type="submit" value="Accept"><input action="action" type="button" value="Cancel" onclick="history.go(-1);"/>
</form>
{{/data}}
