<!DOCTYPE html>
<html>
<head>
    <style>
        body        { padding-top:80px; }
        fieldset { overflow:hidden }
		.some-class { float:left; clear:none; }
		label { float:left; clear:none; display:block; padding: 2px 1em 0 0; }
		input[type=radio], input.radio { float:left; clear:none; margin: 2px 0 0 2px; }
    </style>
        <style type="text/css">
    .container {
        width: 500px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }

    </style>

    <title>Users Authentication</title>
</head>
<body>
    <div class="fullscreen_bg">
<div class="container">
<h1 class="text-center">Add Customer Transaction</h1>
<script type="text/javascript">
var dc= function(DC){
	var Amount; 
	if(DC === "D"){
		Amount+
	}else if(DC === "C"){
		Amount-
	}else{
		return
	}
}
</script>
<div class="container">
{{#data}}
<form class="col-md-4 col-md-offset-4" action="/CustTran/add_CustTran/{{id}}" method="POST">
	<h4 class="text-center">Customer</h4>
	Account: <input type="text" name="Account" value="{{Account}}" readonly><br>
	Name: <input type="text" name="Name" value="{{Name}}" readonly><br>
	Balance: <input type="text" name="Balance" value="{{Balance}}" readonly><br>
	<h4 class="text-center">Add Transaction</h4>
	Date:    <input type="Date" name="Date" value="{{Date}}"><br>
	Reference: <input type="text" name="Reference" value="{{Reference}}"><br>
	Amount:  <input type="float" name="Amount" value="{{Amount}}"><br>
	<fieldset>
  <div class="some-class">
    <input type="radio" class="radio" name="DC" value="{{DC}}D" id="D" />
    <label for="y">Debit</label>
    <input type="radio" class="radio" name="DC" value="{{DC}}C" id="C" />
    <label for="z">Credit</label>
  </div>
</fieldset>
	
	<input type="submit" value="Accept"><input action="action" type="button" value="Cancel" onclick="history.go(-1);"/>
</form>
{{/data}}
</div>
</body>
</html>
