<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
    <div class="container">

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span><strong> Local Logout</strong></a>
        <a href="admin_panel" class="btn btn-default"><strong>Admin Settings</strong></a>
        
    </div>
  <body>
  <div class="nav navbar navbar-default navbar-fixed-top">
    <a href="/"><h1 align="center">IQPoint Customers Transaction</h1></a>
  </div>
        </div>
  <div class="container">
  <div class="jumbotron">
    <h1 align="center">IQPoint Customer Transaction!</h1>           
    <a href="http://www.postechdirect.co.za/images/IQRetail_brochure.pdf" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span>Search</a>
  </div>

    <h2>Customers Amendments</h2>           


  <!--main-container div encases the buton and the tables that appear below-->
  <div class="main-container container">
  
    <!-- End of button container-->
      <nav id="myNavbar" class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="container">
              <div class="main-container container">
      
    <div class="navbar container btn-container col-xs-12">
      
      <div class="row col-xs-12">
        <button onclick="location.href='/customer'" class="col-xs-3">
          Customer
        </button>
        <button onclick="location.href='add'" class="col-xs-3" >
          Add
        </button>
        <button onclick="location.href='/sort'" class="col-xs-3">
          Sort
        </button>
        <button onclick="location.href='/transaction'" class="col-xs-3">
          Transaction
        </button>
        <button onclick="location.href='enquiries'" class="col-xs-3">
          Customers Enquiries
        </button>
        <button onclick="location.href='bulk'" class="col-xs-3">
          Bulk Transaction
        </button>
      </div>

  </div>
          
   <table>         
  <thead>
      <tr>
      <th class="col-md-3">Account</th><th class="col-md-3">Name</th><th class="col-md-3">Balance</th>
    </tr>
  </thead>
<tBody>
{{#customer}} 
<tr>
  <td>{{Account}}</td><td>{{Name}}</td><td>{{Balance}}</td><td><a href="customer/edit/{{id}}">Edit</a></td><td><a href="/customer/delete/{{id}}">Delete</a></td>
</tr>
{{/customer}}
</tbody>
</table>
</body>
</html>
</body>
</html>



