<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/main_page.css">
    <link href='static/css/simplesidebar.css' rel='stylesheet' type='text/css'>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
    <title>Users Authentication</title>
</head>
<body>
<div class="container">
<h1 class="text-center">Display a customer</h1>

{{#data}}
<form method="GET" action="/customer/display/{{id}}"> 
	<h2>Customer</h2><br>
	<!--input type="text" name="Account" value="{{Account}}" readonly-->
	Name: <input type="text" name="Name" value="{{Name}}" readonly>
	Balance: <input type="text" name="Balance" value="{{Balance}}" readonly><br>
	<h2>Transactions</h2><br>
	Date: <input type="text" name="Date" value="{{Date}}" readonly>
	Reference: <input type="text" name="Reference" value="{{Reference}}" readonly>
	Amount: <input type="text" name="Amount" value="{{Amount}}" readonly>
	DC: <input type="text" name="DC" value="{{DC}}" readonly>
	<input action="action" type="button" value="Exit" onclick="history.go(-1);"/>
</form>
{{/data}}
</div>

</html> 

 
 


